<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>


<!--
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to https">
          <match url="(.*)"/>
          <conditions>
            <add input="{HTTPS}" pattern="Off"/>
            <add input="{REQUEST_METHOD}" pattern="^get$|^head$" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
-->

    <location path="nuget.exe">
        <system.webServer>
            <httpRedirect enabled="true" destination="https://oneget.blob.core.windows.net/providers/nuget-anycpu-2.8.3.3.exe"  exactDestination="true" httpResponseStatus="Found" />
        </system.webServer>
    </location>

    <location path="oneget.zip">
        <system.webServer>
            <httpRedirect enabled="true" destination="https://oneget.blob.core.windows.net/providers/oneget.zip"  exactDestination="true" httpResponseStatus="Found" />
        </system.webServer>
    </location>

    <location path="nuget-anycpu.exe">
        <system.webServer>
            <httpRedirect enabled="true" destination="https://oneget.blob.core.windows.net/providers/nuget-anycpu-2.8.3.3.exe"  exactDestination="true" httpResponseStatus="Found" />
        </system.webServer>
    </location>

    <location path="nuget-anycpu-2.8.1.0.exe">
        <system.webServer>
            <httpRedirect enabled="true" destination="https://oneget.blob.core.windows.net/providers/nuget-anycpu-2.8.1.0.exe"  exactDestination="true" httpResponseStatus="Found" />
        </system.webServer>
    </location>

    <location path="nuget-anycpu-2.8.3.3.exe">
        <system.webServer>
            <httpRedirect enabled="true" destination="https://oneget.blob.core.windows.net/providers/nuget-anycpu-2.8.3.0.exe"  exactDestination="true" httpResponseStatus="Found" />
        </system.webServer>
    </location>

    <location path="oneget-bootstrap.swidtag">
        <system.webServer>
            <httpRedirect enabled="true" destination="https://oneget.blob.core.windows.net/providers/oneget-bootstrap.swidtag"  exactDestination="true" httpResponseStatus="Found" />
        </system.webServer>
    </location>

    <location path="nuget.swidtag">
        <system.webServer>
            <httpRedirect enabled="true" destination="https://oneget.blob.core.windows.net/providers/nuget.swidtag"  exactDestination="true" httpResponseStatus="Found" />
        </system.webServer>
    </location>


    <system.webServer>
    <!--
        <httpRedirect enabled="true" destination="https://oneget.blob.core.windows.net/providers/oneget.zip" exactDestination="false" httpResponseStatus="Found" >
            <add wildcard="oneget*.zip" destination="https://oneget.blob.core.windows.net/providers/$0" />
        </httpRedirect>
     -->

      <httpRedirect enabled="true" destination="https://github.com/oneget/oneget" exactDestination="true"  httpResponseStatus="Found" />
    </system.webServer>


</configuration>
