<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>


    <location path="nuget.exe">
        <system.webServer>
            <httpRedirect enabled="true" destination="https://oneget.blob.core.windows.net/providers/nuget-cpuany-2.8.1.0.exe" httpResponseStatus="Permanent" />
        </system.webServer>
    </location>

    <system.webServer>
      <httpRedirect enabled="true" destination="http://foo.com/newdir" httpResponseStatus="Permanent" />
    </system.webServer>


</configuration>
