<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.webServer>
        <httpRedirect enabled="true" httpResponseStatus="Found" exactDestination="true" childOnly="true">
            <add wildcard="/*.zip" destination="https://oneget.blob.core.windows.net/providers/$0.zip" />
            <add wildcard="/*.exe" destination="https://oneget.blob.core.windows.net/providers/$0.exe" />
            <add wildcard="/*.swidtag" destination="https://oneget.blob.core.windows.net/providers/$0.swidtag" />
            <add wildcard="*" destination="https://github.com/oneget/oneget" />
        </httpRedirect>
        
        <httpErrors errorMode="Custom">
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="https://github.com/oneget/oneget" responseMode="Redirect" />
            <error statusCode="403" prefixLanguageFilePath="" path="https://github.com/oneget/oneget" responseMode="Redirect" />
        </httpErrors>
    
    <!--   <httpRedirect enabled="true" destination="https://github.com/oneget/oneget" exactDestination="false" childOnly="true" httpResponseStatus="Found" /> -->
    </system.webServer>

</configuration>
