<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <system.webServer>
        <httpRedirect enabled="true" httpResponseStatus="Found" exactDestination="true" childOnly="true">
            <add wildcard="*" destination="https://github.com/oneget/oneget/issues/$0" />
        </httpRedirect>

    </system.webServer>

</configuration>
